apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: devops
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'spring-boot'
        metrics_path: '/student/actuator/prometheus'
        static_configs:
          - targets: ['spring-service.devops.svc.cluster.local:80']
            labels:
              application: 'student-management'
